<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    {{!-- Nav start --}}
    {{>navbar}}
    {{!-- Nav end --}}

    {{!-- Section Start --}}
    {{>home}}
    {{!-- Section End --}}

    {{!-- About Start --}}
    {{>about}}
    {{!-- About End --}}

    {{!-- Services Start --}}
    {{>Services}}
    {{!-- Services End --}}

    {{!-- Contacts Start --}}
    {{>Contacts}}
    {{!-- Contacts End --}}






    <script src="../jq/grunt.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>

</html>