{{!-- Section Start --}}

<div class="container-fluid about-style" id="about">
    <div class="row">
        <div class="col-md-10 mx-auto ">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <h1 class="text-center main-heading">About Us</h1>
                    <p class="text-center sub-heading">grow your bussiness</p>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12 hero-text">
                        <figure>
                            <img class="img-fluid img-thumbnail"
                                src="https://img.freepik.com/free-vector/flat-design-ui-ux-background-illustrated_23-2149054880.jpg?w=996&t=st=1690799912~exp=1690800512~hmac=fab7c940184d67634c2410b16f510a094d8d6de73e54addee5e4c3d73cdeddff"
                                alt="hero_section">
                        </figure>
                    </div>
                    <div class="col-md-6 hero-text justify-content-center align-items-start">
                        <h1>We are Professional Developer</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus laborum, voluptatem inventore minima eaque minus nam nobis doloribus vitae excepturi nisi, officiis facere ducimus, enim a qui cum? Ea possimus fugit dignissimos, aliquam laboriosam quasi aspernatur ipsa reprehenderit, ut dolor provident debitis, sapiente corrupti? Libero doloribus vero consequatur dolor quasi. ipsum dolor sit amet consectetur adipisicing elit. Et facere ipsam distinctio explicabo tempora commodi quas beatae. Illo, laudantium sed.</p>
                        <button type="button" class="btn btn-primary">
                            Read More
                        </button>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>

{{!-- Section End --}}