<div class="container-fluid home " id="#">
        <div class="row">
            <div class="col-md-10 mx-auto ">
                <div class="row">
                    <div
                        class="col-md-6 col-12 hero-text  flex-column">
                        <h1 class="text-uppercase">We will help you to</h1>
                        <h1 class="text-uppercase">grow your business</h1>
                        <p>We are the team of <span class="bold-style">Professional Developer</span></p>
                        <button type="button" class="btn btn-primary">
                            Read More
                        </button>

                    </div>
                    <div class="col-md-6 col-12 hero-text order-md-0 order-1">
                        <figure>
                            <img class="img-fluid img-thumbnail"
                                src="https://img.freepik.com/free-photo/web-design-concept-with-drawings_1134-77.jpg?w=900&t=st=1690793487~exp=1690794087~hmac=2fcb2e0694112c4661e71e3035a3cff16234a8a52f86363ac523c920bb4b9850"
                                alt="hero_section">
                        </figure>
                    </div>
                </div>
            </div>

        </div>
    </div>