{{!-- Section Start --}}

<div class="container-fluid about-style" id="services">
    <div class="row">
        <div class="col-md-10 mx-auto ">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <h1 class="text-center main-heading">Our Services</h1>
                    <p class="text-center sub-heading">Grow your Business with us</p>
                    <div class="row ">
                        <div class="col-md-4">
                            <div class="box">
                                <div class="our-services settings">
                                    <div class="icon">
                                        <img class="img-fluid w-25 p-1" src="https://icons.iconarchive.com/icons/dtafalonso/android-lollipop/256/Settings-icon.png" alt="setting_icon">
                                    </div>
                                    <h4>Settings</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla repellendus sed
                                        rerum rem autem!.</p>
                                </div>
                            </div>
                        </div><div class="col-md-4">
                            <div class="box">
                                <div class="our-services speedup">
                                    <div class="icon">
                                        <img class="img-fluid w-25 p-1" src="https://cdn1.iconfinder.com/data/icons/ui-fillenion/64/Speed_Up-512.png" alt="setting_icon">
                                    </div>
                                    <h4>SpeedUp</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla repellendus sed
                                        rerum rem autem!.</p>
                                </div>
                            </div>
                        </div><div class="col-md-4">
                            <div class="box">
                                <div class="our-services backups">
                                    <div class="icon">
                                        <img class="img-fluid w-25 p-1" src="https://www.inventicons.com/uploads/iconset/1641/wm/512/backup-39.png" alt="setting_icon">
                                    </div>
                                    <h4>Backup</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla repellendus sed
                                        rerum rem autem!.</p>
                                </div>
                            </div>
                        </div><div class="col-md-4">
                            <div class="box">
                                <div class="our-services ssl">
                                    <div class="icon">
                                        <img class="img-fluid w-25 p-1" src="https://www.inventicons.com/uploads/iconset/2697/wm/512/Artboard-42-97.png" alt="setting_icon">
                                    </div>
                                    <h4>SSL Secured</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla repellendus sed
                                        rerum rem autem!.</p>
                                </div>
                            </div>
                        </div><div class="col-md-4">
                            <div class="box">
                                <div class="our-services privacy">
                                    <div class="icon">
                                        <img class="img-fluid w-25 p-1" src="https://www.inventicons.com/uploads/iconset/1389/wm/512/securesecurityprivateprivacylockfile-and-folder-50.png" alt="setting_icon">
                                    </div>
                                    <h4>Privacy</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla repellendus sed
                                        rerum rem autem!.</p>
                                </div>
                            </div>
                        </div><div class="col-md-4">
                            <div class="box">
                                <div class="our-services database">
                                    <div class="icon">
                                        <img class="img-fluid w-25 p-1" src="https://www.inventicons.com/uploads/iconset/1643/wm/512/database-59.png" alt="setting_icon">
                                    </div>
                                    <h4>Database</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla repellendus sed
                                        rerum rem autem!.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

{{!-- Section End --}}